@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}
/* HEADER */
header {
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 88px;
}

nav > ul {
    display: flex;
    gap: 48px;
    margin-right: 93px;
}

/* Removing formating */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #303134;
}

/* BANNER */
.banner {
    height: 569px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content > h1 {
    font-size: 60px;
    color: white;
    margin-top: 20px;
    margin-bottom: 55px;
}

.banner-nav {
    background-color: white;
    height: 33px;
    width: 33px;
    display: grid;
    place-items: center;
}


/* HOT SERVICES */
.services {
    display: flex;
    margin: 50px;
    margin-right: 25px;
    margin-left: 88px;
    gap: 40px;
}

.first-column > h2, .first-column > span, .first-column > p{
    width: 242px;
}

.sec-column {
    display: flex;
    flex-wrap: wrap;
    /* ??? */
    gap: 50px;
}

.card {
    width: 268px;
}

/* VIDEO TOUR */
.video {
    height: 500px;
    opacity: 0.8;
    background-image: url("./res/xavier-coiffic-.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* filter: grayscale(100%); */
}

.video-title, .package-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* ??? */
    margin-top: 60px;
}

iframe {
    width: 674px;
    height: 330px;
    border: none;
}

/* achivements */
.achivements {
    display: flex;
    justify-content: space-around;
    margin-top: 122px;
    margin-bottom: 68px;
}

.achivements > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achivements > div > img {
    margin-bottom: 32px;
}

hr {
    border: 1px solid #ebebeb;
}

/* PACKAGES */

.package {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    
}

.cards > div {
    /* background-color: rebeccapurple; */
    width: 267px;
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cards > div > img {
    height: 246px;
    width: 267px;
    /* ?? */
    object-fit:fill;
    margin-bottom: 17px;
}

.cards > div > h4 {
    color: #4b54fa;
    margin-top: 15px;
    margin-bottom: 9px;
}