@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}
/* HEADER */
header {
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #1a1a1b;
    font-size: 26px;
}

span:not(.price), p {
    font-size: 16px;
    color: #8d8d8d;
    text-align: left;
}


.logo {
    margin-left: 88px;
}

nav > ul {
    display: flex;
    gap: 48px;
    margin-right: 93px;
}

/* Removing formating */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #303134;
}

/* BANNER */
.banner {
    height: 569px;
    background-image: url('./res/jens-kreuter-96.png');
    background-size: cover;
    background-position: 0 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content > h1 {
    font-size: 78.74px;
    letter-spacing: 0;
    color: white;
    margin-top: 20px;
    margin-bottom: 55px;
}

.banner-nav {
    background-color: white;
    height: 33px;
    width: 33px;
    display: grid;
    place-items: center;
}


/* HOT SERVICES */
.services {
    display: flex;
    margin: 50px;
    margin-right: 25px;
    margin-left: 88px;
    gap: 40px;
}

.first-column {
    width: 242px;
}

.sec-column {
    display: flex;
    flex-wrap: wrap;
    /* ??? */
    gap: 50px;
}

.card {
    width: 268px;
}

/* VIDEO TOUR */
.video {
    height: 500px;
    opacity: 0.8;
    background-image: url("./res/xavier-coiffic-.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.video-title, .package-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
}

.video-title *, #video-disc {
    color: white;
}

iframe {
    width: 674px;
    height: 330px;
    border: none;
}

/* achivements */
.achivements {
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
    margin-bottom: 68px;
}

.achivements > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    font-size: 32px;
    color: #1a1a1b;
    font-family: 'Lato', sans-serif;
    margin-top: 32px;
    margin-bottom: 14px;
}


hr {
    border: 1px solid #ebebeb;
}

/* PACKAGES */

.package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 66px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.cards > div {
    width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 15px 0px #8d8d8d;
    padding-bottom: 21px;

}


.cards > div > img {
    height: 246px;
    width: 267px;
    object-fit: fill;
    margin-bottom: 17px;
}

.cards > div span {
    font-size: 14px;
    color: #1a1a1b;
}
h4 {
    color: #4b54fa;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 9px;
}

.get-off {
    margin-top: 71px;
    height: 350px;
    background-image: url("./res/vidar-nordli-ma.png");
    background-size: cover;
    background-position: 0% 40%;
    position: relative;
    color: white;
}

.get-off > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.get-off > .title > p {
    margin-top: 29px;
    margin-bottom: 60px;
}

input {
    width: 395px;
    height: 50px;
    padding-left: 15px;
    outline: none;
    border-radius: 20px;
}

#email {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    margin-right: 22px;
}

input::placeholder{
    color: white;
}

button {
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.subscribe {
    background-color: white;    
    mix-blend-mode: screen;
    color: black;
}

/* HAPPY TRAVELERS */
.avatar {
    object-fit: cover; 
    object-position: -10% 0;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.reviews {
    display: flex;
    gap: 30px;
    margin-top: 80px;
    justify-content: center;
}

.review {
    width: 368px;
    height: 409px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 36px;
    padding-right: 34px;
    padding-top: 54px;
    position: relative;
}

.review > p {
    text-align: center;

}

.user {
    font-size: 18px;
    color: #4b54fa;
    margin-top: 21px;
    margin-bottom: 36px;
}

.quotes {
    position: absolute;
    bottom: 51px;
}

/* PLAN YOUR TRIP */
.plan {
    background-image: url('./res/Brightness_Cont.png');
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan > div {
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.book {
    /* gradient */
    background-color: black;
    color: white;
    width: 170px;
    margin-top: 48px;
}

/* POPULAR COUNTRIES */
.countries {
    /* es da ramdenime aseti flex containeri mgoni ertad sheidzleba chaiweros */
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 70px;
}

.country {
    height: 425px;
    width: 271px;
    background-image: url('./res/mo-baghdadi-109.png');
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    gap: 80px;
    justify-content: space-around;
}

.country:nth-child(2) {
    background-image: url('./res/yeo-khee-618704.png');
    background-position: 60% 0;
}

.country:nth-child(3) {
    background-image: url('./res/tom-vining-6680.png');
    background-position: 60% 0;
}

.country > button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
}

h3 {
    font-size: 30px;
}

/* MAP */

.map {
    height: 435px;
    background-image: url('./res/map.png');
    background-size: cover;
    margin-top: 79px;
    background-position: 0 60%;
}

/* FOOTER */

footer  {
    background-color: #141418;
    color: #dcdbdb;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex; 
    justify-content: space-around;
    margin-top: 54px;
}

footer nav {
    display: flex;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 60px;
}

footer a {
    color: #dcdbdb;
}

.subscribe-em {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscribe-em div {
    display: flex;
    position: relative;
}

.subscribe-em div input {
    border-radius: 0;
    height: 48px;
}

#subscribe-em {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 0;
    background-color: greenyellow;
}

footer hr {
    margin-top: 46px;
    margin-bottom: 26px;
    border-color: #e8e8e8;
}

footer p {
    margin-bottom: 13px;
}

.price {
    height: 92px;
    width: 287px;
    display: grid;
    place-items: center;
    font-size: 21px;
    color: #006cd1;
    font-weight: bold;
    background-image: url('./res/background.png');
}

.banner-content p {
    /* es zogadi rom gavxado? */
    font-size: 18px; 
    font-weight: bold;
    color: white;
}

